product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Me\s\sage\s/Me\s\sage\s.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/Gm\sCore/Gm\sCore.apk
\sy\stem/\sy\stem/app/HoneyBoard/HoneyBoard.apk
\sy\stem/\sy\stem/priv-app/OneDrive_Sam\sung_v3/OneDrive_Sam\sung_v3.apk
